.page {
    background-color: black;
    min-height: 100vh;
    font-family: "Inter", "Arial", sans-serif;
    padding-bottom: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
    .page {
        padding-bottom: 36px;
    }
}
