.user-info__edit-button {
    position: absolute;
    left: 462px;
    top: 39px;
    width: 24px;
    height: 24px;
    background: url("../../../images/edit-button.svg") center no-repeat;

}

@media screen and (max-width: 980px) {
    .user-info__edit-button {
        position: static;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}