.element__like {
    height: 18px;
    width: 21px;
    background-image: url(../../../images/element__like.svg);
    background-size: contain;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 15px auto 0;
    border: none;
    transition: transform .3s linear;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.5;
    border: none;
    transform: scale(1.02);
}
