.element__like {
    background-image: url(../../../images/element__like.svg);
    background-color: transparent;
    border: none;
    width: 21px;
    height: 19px;
    cursor: pointer;
    transition: transform .3s linear;
}
.element__like:hover {
    transform: scale(1.03);
}


