.popup__item {
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 27px;
    margin-bottom: 5px;
    margin-top: 28px;
}

.popup__item:invalid {
    border-bottom: 1px solid #FF0000;
}

@media screen and (max-width: 1024px) {
    .popup__item {
        font-size: 12px;
        line-height: 15px;
        margin-top: 0;
        margin-bottom: 13px;
    }
}

