
.element__delete-icon {
    display: none;
    background-image: url("../../../images/delete-icon.svg");
    background-color: rgba(128, 128, 128, .2);
    background-repeat: no-repeat;
    border: none;
    border-radius: 20%;
    background-position: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 18px;
}

.element__delete-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}
